@font-face {
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.9rem;
}

@media screen and (min-width: 40em) {
  html {
    font-size: 1rem;
  }
}

body {
  background-color: #1a1a1a;
  color: #fff;
  min-width: 100vw;
  min-height: 80vh;
  font-family: "Inter", sans-serif;
}

@media screen and (min-width: 40em) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

p {
  font-size: 1.30rem;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  max-width: 800px;
  padding: 24px;
}

@media screen and (min-width: 40em) {
  main {
    padding: 32px;
  }
}

.social-links {
  list-style: none;
  padding: 0;
}

a[href^="email"] {
  color: #55acee;

}

a[href^="https://www.infobip.com"] {
  color: #55acee;
}

ul p {
  margin: 0;
}

#profile-pic{margin-bottom:10px;border-radius:80px;}

img {
    display: block;
    margin: 0 auto;
}

